<div class="waypoint-label {{cssClass}}">
    {{#if action.icon}}
    <i class="icon {{action.icon}}></i>
    {{/if}}
    {{#if cost}}
    <span class="total-measurement">{{cost.total}} {{cost.units}}</span>
    {{#if cost.delta}}
    <span class="delta-measurement">({{cost.delta}})</span>
    {{/if}}
    {{else}}
    <span class="total-measurement">{{distance.total}} {{units}}</span>
    {{#if distance.delta}}
    <span class="delta-measurement">({{distance.delta}})</span>
    {{/if}}
    {{/if}}
    {{#if (and elevation (not elevation.hidden))}}
    <i class="icon {{elevation.icon}}"></i>
    <span class="total-elevation">{{elevation.total}} {{units}}</span>
    {{#if elevation.delta}}
    <span class="delta-elevation">({{elevation.delta}})</span>
    {{/if}}
    {{/if}}
    {{#if secret}}
    <i class="icon fa-solid fa-eye-slash"></i>
    {{/if}}
</div>
